openapi: 3.1.0
info:
  version: '1.9.0'
  title: Nutrient DWS API reference
  description: |
    Nutrient Document Web Services API is an HTTP API that provides you with a simple document-in, document-out-based
    workflow that scales as you grow. Generate PDFs, convert documents to PDF, modify existing PDFs, and more.

    # Authorization

    Nutrient DWS API uses an HTTP authorization header to map each request made to the
    API to the user making the request. You're required to provide your API token in
    the authorization header with each request you make. Otherwise, the API will return an error.

    The authorization header has the following shape:

    ```
    Authorization: Bearer <your_api_key_here>
    ```

    `<your_api_key_here>` is an API key that can be retrieved
    by logging in to the [dashboard](https://dashboard.nutrient.io/api/api_keys/).

    Because this API allows full access to credits you purchased for Nutrient DWS API, it's
    only meant to be used by your backend services, which we assume are fully trusted.

    ## JWT-based authorization

    Apart from the API token, you can also use JWTs to authorize requests to DWS API. This is useful when you want finer control over authorization or if you want to interact with DWS API from a client-side application.

    JWT authorization is a method of controlling access to resources through the use of JSON Web Tokens (JWTs). A [JWT](https://datatracker.ietf.org/doc/html/rfc7519) “is a compact, URL-safe means of representing claims to be transferred between two parties.”

    It’s possible to generate a JWT using your API key via `POST tokens`[endpoint](https://www.nutrient.io/api/reference/public/#tag/JWT/operation/generate-token).

    The JWT has a benefit of being able to customize the operations and origins the token can access. The token can be time-limited for the security of your application. It can also be revoked at any time, contrary to the API key, which can only be regenerated.

    For example, you can generate a token that can only access the `pdfa_api` operation and can only be used from the `www.origin1` origin. In this way, the token may be shared with a third-party service that will only be able to access the `pdfa_api` operation from the `www.origin1` origin, without having access to other operations or origins.

    Note that if the JWT has origin restrictions, the request must include the `Origin` header with the origin the token was generated for. If the `Origin` header isn’t provided, the request will be rejected. If origin restrictions aren’t set, the `Origin` header isn’t required.

    It’s also possible to revoke a token using the `DELETE /tokens` [endpoint](https://www.nutrient.io/api/reference/public/#tag/JWT/operation/revoke-token).
  contact:
    name: Nutrient DWS API
    url: https://www.nutrient.io/api/
  license:
    name: End User License Agreement
    url: https://www.nutrient.io/api/terms/
servers:
  - url: https://api.nutrient.io
    description: Base URL for Nutrient DWS API endpoints.
security:
  - BearerAuth: []
tags:
  - name: Document editing
    description: Process documents.
  - name: Instant JSON
    description: |
      Instant JSON is a format we created for bringing annotations, forms and bookmarks into a modern format while keeping all important properties to make the Instant JSON spec work with PDF. The format is fully documented and can be easily converted to XFDF to make it interoperable.

      Please refer to [Instant JSON Reference](https://www.nutrient.io/api/reference/document-engine/instant-json/) for full reference documentation of the format.
  - name: Build API
    description: |
      Build API allows you to assemble a PDF from multiple parts, such as an existing PDF, a blank page, or an HTML page. You can apply one or more actions, such as watermarking, rotating pages, or importing annotations. Once the entire PDF is generated from its parts, you can also apply additional actions, such as optical character recognition (OCR), to the assembled PDF itself.

      The Build API can be interacted with two distinct ways:

      * The basic use case for the Build API is to upload all inputs together in the build instructions with the `multipart/form-data` request, where each input is provided as a separate part along with a special `instructions` part with the processing instructions.
      * The Build API supports inputs provided from remote URLs. If all inputs are provided as remote URLs, the multipart request isn’t necessary and can be simplified to a non-multipart request with the `application/json` body with the processing instructions.

      ## Instructions Schema

      When making requests to the API, the instructions object needs to follow the following schema:

      <SchemaDefinition schemaRef="#/components/schemas/BuildInstructions" />
externalDocs:
  description: Nutrient DWS API guides
  url: https://www.nutrient.io/api/documentation/
paths:
  /build:
    post:
      operationId: build-document
      summary: Process documents and download the result
      description: |
        This endpoint lets you use [Build instructions](#tag/Build-API) to process a document. This allows you to
        assemble a PDF from multiple parts, such as an existing document in a supported content type, a blank page,
        or an HTML page. You can apply one or more actions, such as watermarking, rotating pages, or importing
        annotations. Once the entire PDF is generated from its parts, you can also apply additional actions,
        such as optical character recognition (OCR), to the assembled PDF itself.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructions'
          multipart/form-data:
            schema:
              type: object
              properties:
                instructions:
                  $ref: '#/components/schemas/BuildInstructions'
            encoding:
              instructions:
                contentType: application/json
      responses:
        '200':
          $ref: '#/components/responses/BuildResponseOk'
        '400':
          description: |
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: |
            You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: |
            You have exceeded the total number of documents processed in your subscription.
        '408':
          description: |
            The request timed out.
        '413':
          description: |
            The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: |
            The request exceeds the maximum output file size.
        '500':
          description: |
            An internal server error occurred. Please contact support.
      tags:
        - Document Editing
      x-codeSamples:
        - label: cURL
          lang: curl
          source: |
            curl --request POST \
              --url https://api.nutrient.io/build \
              --header 'Authorization: Bearer <your_api_key_here>' \
              --header 'content-type: application/json' \
              --header 'pspdfkit-pdf-password: password' \
              --data '{
              "instructions": {
                "parts": [{ "file": {"url": "https://remote-file-storage/input.pdf"}}],
                "actions": [{ "type": "applyInstantJson", "file": {"url": "https://remote-file-storage/instant.json" }}],
                "output": {
                  "metadata": {
                    "title": "Nutrient Document Engine API Specification",
                    "author": "Document Author"
                  },
                  "labels": [{ "pages": [0], "label": "Page I-III" }],
                  "user_password": "string",
                  "owner_password": "string",
                  "user_permissions": ["printing"],
                  "type": "pdf"
                }
              },
              "document_id": "7KPSE41NWKDGK5T9CFS3S53JTP",
              "title": "string",
              "overwrite_existing_document": false
            }'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/build",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "application/json"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              parts: [{file: 'pdf-file-from-multipart'}],
              actions: [
                {
                  type: 'applyInstantJson',
                  file: {url: 'https://remote-file-storage/input-file', sha256: 'string'}
                }
              ],
              output: {
                metadata: {title: 'Nutrient Document Engine API Specification', author: 'Document Author'},
                labels: [{pages: {start: 0, end: -1}, label: 'Page I-III'}],
                user_password: 'string',
                owner_password: 'string',
                user_permissions: ['printing'],
                optimize: {
                  grayscaleText: false,
                  grayscaleGraphics: false,
                  grayscaleImages: false,
                  grayscaleFormFields: false,
                  grayscaleAnnotations: false,
                  disableImages: false,
                  mrcCompression: false,
                  imageOptimizationQuality: 2,
                  linearize: false
                },
                type: 'pdf'
              }
            }));
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/build")
              .post(body)
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/build");
            var request = new RestRequest(Method.POST);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "application/json");
            request.AddParameter("application/json", "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}"

            headers = {
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/json"
                }

            conn.request("POST", "/build", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
  /analyze_build:
    post:
      summary: Analyze a build request
      description: |
        Performs analysis of the Build API request without actually executing it.

        Use this endpoint to calculate how many credits a Build API request would consume. The request is free of charge.

        Note: Make sure to provide the correct `content_type` parameter for each of your file parts to get accurate results.
        Otherwise, the endpoint might not correctly identify conversion features such as Office or image conversion.
      operationId: analyze_build
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructions'
      responses:
        '200':
          description: The analysis result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeBuildResponse'
        '400':
          description: |
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: |
            You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '408':
          description: |
            The request timed out.
        '500':
          description: |
            An internal server error occurred. Please contact support.
      tags:
        - Document Editing
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request POST \
              --url https://api.nutrient.io/analyze_build \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'content-type: application/json' \
              --data '{"parts":[{"file":"pdf-file-from-multipart"}],"actions":[{"type":"applyInstantJson","file":{"url":"https://remote-file-storage/input-file","sha256":"string"}}],"output":{"metadata":{"title":"Nutrient Document Engine API Specification","author":"Document Author"},"labels":[{"pages":{"start":0,"end":-1},"label":"Page I-III"}],"user_password":"string","owner_password":"string","user_permissions":["printing"],"optimize":{"grayscaleText":false,"grayscaleGraphics":false,"grayscaleImages":false,"grayscaleFormFields":false,"grayscaleAnnotations":false,"disableImages":false,"mrcCompression":false,"imageOptimizationQuality":2,"linearize":false},"type":"pdf"}}'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/analyze_build",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "application/json"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              parts: [{file: 'pdf-file-from-multipart'}],
              actions: [
                {
                  type: 'applyInstantJson',
                  file: {url: 'https://remote-file-storage/input-file', sha256: 'string'}
                }
              ],
              output: {
                metadata: {title: 'Nutrient Document Engine API Specification', author: 'Document Author'},
                labels: [{pages: {start: 0, end: -1}, label: 'Page I-III'}],
                user_password: 'string',
                owner_password: 'string',
                user_permissions: ['printing'],
                optimize: {
                  grayscaleText: false,
                  grayscaleGraphics: false,
                  grayscaleImages: false,
                  grayscaleFormFields: false,
                  grayscaleAnnotations: false,
                  disableImages: false,
                  mrcCompression: false,
                  imageOptimizationQuality: 2,
                  linearize: false
                },
                type: 'pdf'
              }
            }));
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/analyze_build")
              .post(body)
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/analyze_build");
            var request = new RestRequest(Method.POST);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "application/json");
            request.AddParameter("application/json", "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "{\"parts\":[{\"file\":\"pdf-file-from-multipart\"}],\"actions\":[{\"type\":\"applyInstantJson\",\"file\":{\"url\":\"https://remote-file-storage/input-file\",\"sha256\":\"string\"}}],\"output\":{\"metadata\":{\"title\":\"Nutrient Document Engine API Specification\",\"author\":\"Document Author\"},\"labels\":[{\"pages\":{\"start\":0,\"end\":-1},\"label\":\"Page I-III\"}],\"user_password\":\"string\",\"owner_password\":\"string\",\"user_permissions\":[\"printing\"],\"optimize\":{\"grayscaleText\":false,\"grayscaleGraphics\":false,\"grayscaleImages\":false,\"grayscaleFormFields\":false,\"grayscaleAnnotations\":false,\"disableImages\":false,\"mrcCompression\":false,\"imageOptimizationQuality\":2,\"linearize\":false},\"type\":\"pdf\"}}"

            headers = {
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/json"
                }

            conn.request("POST", "/analyze_build", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
  /sign:
    post:
      summary: Digitally sign a PDF file
      description: |
        Use this endpoint to digitally sign a PDF file.
      operationId: sign-file
      parameters:
        - $ref: '#/components/parameters/Password'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary content of a PDF file to be signed.
                  example: <PDF data>
                data:
                  $ref: '#/components/schemas/CreateDigitalSignature'
                  description: |
                    Optional signing parameters. If omitted, defaults will be used:
                    - `signatureType`: `cms`
                    - `flatten`: `false`
                    - An invisible signature will be created
                image:
                  type: string
                  format: binary
                  description: The watermark image to be used as part of the signature's appearance. Optional.
                  example: <Image data>
                graphicImage:
                  type: string
                  format: binary
                  description: The graphic image to be used as part of the signature's appearance. Optional.
                  example: <Image data>
            encoding:
              file:
                contentType: application/pdf
              image:
                contentType: application/pdf, image/jpg, image/png, image/tiff
              graphicImage:
                contentType: application/pdf, image/jpg, image/png, image/tiff
              data:
                contentType: application/json
      responses:
        '200':
          description: The signed document.
          content:
            application/pdf:
              schema:
                type: string
                description: The signed PDF file.
                format: binary
                example: <PDF file>
          headers:
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
        '400':
          description: |
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: |
            You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: |
            You have exceeded the total number of documents processed in your subscription.
        '408':
          description: |
            The request timed out.
        '413':
          description: |
            The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: |
            The request exceeds the maximum output file size.
        '500':
          description: |
            An internal server error occurred. Please contact support.
      tags:
        - Digital Signatures
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request POST \
              --url https://api.nutrient.io/sign \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'content-type: multipart/form-data' \
              --header 'pspdfkit-pdf-password: password' \
              --form 'file=<PDF data>' \
              --form 'data={"signatureType":"cades","flatten":false,"appearance":{"mode":"signatureOnly","contentType":"image/png","showWatermark":true,"showSignDate":true},"position":{"pageIndex":0},"cadesLevel":"b-lt"}' \
              --form 'image=<Image data>' \
              --form 'graphicImage=<Image data>'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/sign",
              "headers": {
                "pspdfkit-pdf-password": "password",
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "multipart/form-data"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write("-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"file\"\r\n\r\n<PDF data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"data\"\r\n\r\n{\"signatureType\":\"cades\",\"flatten\":false,\"appearance\":{\"mode\":\"signatureOnly\",\"contentType\":\"image/png\",\"showWatermark\":true,\"showSignDate\":true},\"position\":{\"pageIndex\":0},\"cadesLevel\":\"b-lt\"}\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"image\"\r\n\r\n<Image data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"graphicImage\"\r\n\r\n<Image data>\r\n-----011000010111000001101001--\r\n");
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("multipart/form-data; boundary=---011000010111000001101001");
            RequestBody body = RequestBody.create(mediaType, "-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"file\"\r\n\r\n<PDF data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"data\"\r\n\r\n{\"signatureType\":\"cades\",\"flatten\":false,\"appearance\":{\"mode\":\"signatureOnly\",\"contentType\":\"image/png\",\"showWatermark\":true,\"showSignDate\":true},\"position\":{\"pageIndex\":0},\"cadesLevel\":\"b-lt\"}\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"image\"\r\n\r\n<Image data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"graphicImage\"\r\n\r\n<Image data>\r\n-----011000010111000001101001--\r\n");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/sign")
              .post(body)
              .addHeader("pspdfkit-pdf-password", "password")
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "multipart/form-data")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/sign");
            var request = new RestRequest(Method.POST);
            request.AddHeader("pspdfkit-pdf-password", "password");
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "multipart/form-data");
            request.AddParameter("multipart/form-data", "-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"file\"\r\n\r\n<PDF data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"data\"\r\n\r\n{\"signatureType\":\"cades\",\"flatten\":false,\"appearance\":{\"mode\":\"signatureOnly\",\"contentType\":\"image/png\",\"showWatermark\":true,\"showSignDate\":true},\"position\":{\"pageIndex\":0},\"cadesLevel\":\"b-lt\"}\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"image\"\r\n\r\n<Image data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"graphicImage\"\r\n\r\n<Image data>\r\n-----011000010111000001101001--\r\n", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"file\"\r\n\r\n<PDF data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"data\"\r\n\r\n{\"signatureType\":\"cades\",\"flatten\":false,\"appearance\":{\"mode\":\"signatureOnly\",\"contentType\":\"image/png\",\"showWatermark\":true,\"showSignDate\":true},\"position\":{\"pageIndex\":0},\"cadesLevel\":\"b-lt\"}\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"image\"\r\n\r\n<Image data>\r\n-----011000010111000001101001\r\nContent-Disposition: form-data; name=\"graphicImage\"\r\n\r\n<Image data>\r\n-----011000010111000001101001--\r\n"

            headers = {
                'pspdfkit-pdf-password': "password",
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "multipart/form-data"
                }

            conn.request("POST", "/sign", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
  /tokens:
    post:
      operationId: generate-token
      summary: Generate a new API token
      description: |
        Use this endpoint to generate a new API token. All request body parameters are optional.
      tags:
        - JWT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthTokenParameters'
      responses:
        '201':
          description: The generated API token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthTokenResponse'
        '400':
          description: |
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        allowedOperations:
                          type: string
                          example: Description of error
                        allowedOrigins:
                          type: string
                          example: Description of error
                        expirationTime:
                          type: string
                          example: Description of error
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request POST \
              --url https://api.nutrient.io/tokens \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'content-type: application/json' \
              --data '{"allowedOperations":["digital_signatures_api"],"allowedOrigins":["example.com"],"expirationTime":3600}'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/tokens",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "application/json"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              allowedOperations: ['digital_signatures_api'],
              allowedOrigins: ['example.com'],
              expirationTime: 3600
            }));
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"allowedOperations\":[\"digital_signatures_api\"],\"allowedOrigins\":[\"example.com\"],\"expirationTime\":3600}");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/tokens")
              .post(body)
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/tokens");
            var request = new RestRequest(Method.POST);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "application/json");
            request.AddParameter("application/json", "{\"allowedOperations\":[\"digital_signatures_api\"],\"allowedOrigins\":[\"example.com\"],\"expirationTime\":3600}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "{\"allowedOperations\":[\"digital_signatures_api\"],\"allowedOrigins\":[\"example.com\"],\"expirationTime\":3600}"

            headers = {
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/json"
                }

            conn.request("POST", "/tokens", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
    delete:
      operationId: revoke-token
      summary: Revoke an API token
      description: |
        Use this endpoint to revoke an API token.
      tags:
        - JWT
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the token to revoke.
                  example: FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8
      responses:
        '204':
          description: The token was successfully revoked.
        '404':
          description: The token was not found.
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request DELETE \
              --url https://api.nutrient.io/tokens \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'content-type: application/json' \
              --data '{"id":"FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8"}'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "DELETE",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/tokens",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "application/json"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({id: 'FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8'}));
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"id\":\"FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8\"}");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/tokens")
              .delete(body)
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/tokens");
            var request = new RestRequest(Method.DELETE);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "application/json");
            request.AddParameter("application/json", "{\"id\":\"FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8\"}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "{\"id\":\"FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8\"}"

            headers = {
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/json"
                }

            conn.request("DELETE", "/tokens", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
  /account/info:
    get:
      summary: Get account information
      description: |
        Use this endpoint to get information about your account, such as the number of credits you have left.
      operationId: get-account-info
      responses:
        '200':
          description: Account information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeys:
                    type: object
                    description: Information about your API keys.
                    properties:
                      live:
                        type: string
                        description: Your live API key.
                  signedIn:
                    type: boolean
                    description: Whether you are signed in.
                    example: true
                  subscriptionType:
                    enum:
                      - free
                      - paid
                      - enterprise
                    description: Your subscription type.
                  usage:
                    type: object
                    description: Information about your usage.
                    properties:
                      totalCredits:
                        type: number
                        description: The number of credits available in the current billing period.
                        example: 100
                      usedCredits:
                        type: number
                        description: The number of credits you have used in the current billing period.
                        example: 50
        '401':
          description: |
            You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
      tags:
        - Account
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request GET \
              --url https://api.nutrient.io/account/info \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/account/info",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.nutrient.io/account/info")
              .get()
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/account/info");
            var request = new RestRequest(Method.GET);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            headers = { 'Authorization': "Bearer REPLACE_BEARER_TOKEN" }

            conn.request("GET", "/account/info", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
  /ai/redact:
    post:
      summary: Redact sensitive information from a document
      operationId: ai-redact
      description: |
        Redacts sensitive information from a document based on the provided criteria.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - data
                - file
              properties:
                data:
                  description: |
                    Parameters required for the redaction.
                  $ref: '#/components/schemas/RedactData'
                file:
                  type: string
                  format: binary
                  description: The PDF file to process.
                  example: <PDF data>
            encoding:
              data:
                contentType: application/json
              file:
                contentType: application/pdf
          application/json:
            schema:
              $ref: '#/components/schemas/RedactData'
      responses:
        '200':
          description: The redacted document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: The redacted PDF file
          headers:
            x-pspdfkit-request-cost:
              schema:
                type: number
                description: Cost of the request in credits
            x-pspdfkit-remaining-credits:
              schema:
                type: number
                description: Remaining credits after the request has been executed
        '400':
          description: |
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
        '401':
          description: |
            You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: |
            You have exceeded the total number of documents processed in your subscription.
        '408':
          description: |
            The request timed out.
        '413':
          description: |
            The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: |
            The request exceeds the maximum output file size.
        '500':
          description: |
            An internal server error occurred. Please contact support.
      tags:
        - AI
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |-
            curl --request POST \
              --url https://api.nutrient.io/ai/redact \
              --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \
              --header 'content-type: application/json' \
              --data '{"documents":[{"file":"string","pages":[0]}],"criteria":"string","redaction_state":"stage","options":{"confidence":{"threshold":0}}}'
        - lang: JavaScript
          label: Node.js
          source: |-
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.nutrient.io",
              "port": null,
              "path": "/ai/redact",
              "headers": {
                "Authorization": "Bearer REPLACE_BEARER_TOKEN",
                "content-type": "application/json"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              documents: [{file: 'string', pages: [0]}],
              criteria: 'string',
              redaction_state: 'stage',
              options: {confidence: {threshold: 0}}
            }));
            req.end();
        - lang: Java
          label: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"documents\":[{\"file\":\"string\",\"pages\":[0]}],\"criteria\":\"string\",\"redaction_state\":\"stage\",\"options\":{\"confidence\":{\"threshold\":0}}}");
            Request request = new Request.Builder()
              .url("https://api.nutrient.io/ai/redact")
              .post(body)
              .addHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: C#
          label: C#
          source: |-
            var client = new RestClient("https://api.nutrient.io/ai/redact");
            var request = new RestRequest(Method.POST);
            request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");
            request.AddHeader("content-type", "application/json");
            request.AddParameter("application/json", "{\"documents\":[{\"file\":\"string\",\"pages\":[0]}],\"criteria\":\"string\",\"redaction_state\":\"stage\",\"options\":{\"confidence\":{\"threshold\":0}}}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Python
          label: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.nutrient.io")

            payload = "{\"documents\":[{\"file\":\"string\",\"pages\":[0]}],\"criteria\":\"string\",\"redaction_state\":\"stage\",\"options\":{\"confidence\":{\"threshold\":0}}}"

            headers = {
                'Authorization': "Bearer REPLACE_BEARER_TOKEN",
                'content-type': "application/json"
                }

            conn.request("POST", "/ai/redact", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    AnalyzeBuildResponse:
      type: object
      properties:
        cost:
          type: number
          description: |
            Total cost in credits charged after executing the request.
          minimum: 0
          example: 1.5
        required_features:
          type: object
          description: |
            Usage statistics for all features required to execute the request.
          additionalProperties:
            type: object
            properties:
              unit_cost:
                type: number
                description: Credits cost per use of the feature.
                minimum: 0
                example: 0.5
              units:
                type: integer
                description: Number of feature uses in the request.
                minimum: 1
                example: 3
              cost:
                type: number
                description: Cost for feature uses in the request.
                minimum: 0
                example: 1.5
              usage:
                type: array
                description: |
                  JSON paths to the parts of instructions where the feature was used.
                items:
                  type: string
      example:
        cost: 3.5
        required_features:
          annotation_api:
            - unit_cost: 0.5
              units: 3
              cost: 1.5
              usage:
                - $.parts[0].actions[0]
                - $.parts[1].actions[1]
                - $.actions[0]
          document_editor_api:
            - unit_cost: 1
              units: 1
              cost: 1
              usage:
                - $.parts[1].merge
          ocr_api:
            - unit_cost: 2
              units: 1
              cost: 2
              usage:
                - $.parts[1].actions[0]
    InstantJson:
      title: Instant JSON
      description: |
        Instant JSON is a format for bringing annotations and bookmarks into a modern format while keeping all important properties to make the Instant JSON spec work with PDF.
      type: object
      properties:
        format:
          type: string
          enum:
            - https://pspdfkit.com/instant-json/v1
        annotations:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Annotation'
              - $ref: '#/components/schemas/Annotation.v1'
        attachments:
          $ref: '#/components/schemas/Attachments'
        formFields:
          type: array
          items:
            $ref: '#/components/schemas/FormField'
        formFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/FormFieldValue'
        bookmarks:
          type: array
          items:
            $ref: '#/components/schemas/Bookmark'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/CommentContent'
        skippedPdfObjectIds:
          type: array
          description: An array of PDF object IDs that should be skipped during the import process. Whenever an object ID is marked as skipped, it'll no longer be loaded from the original PDF. Instead, it could be defined inside the annotations array with the same pdfObjectId. If this is the case, the PDF viewer will display the new annotation, which signals an update to the original one. If an object ID is marked as skipped but the annotations array doesn't contain an annotation with the same pdfObjectId, it'll be interpreted as a deleted annotation. An annotation inside the annotations array without the pdfObjectId property is interpreted as a newly created annotation.
          items:
            type: integer
            minimum: 0
        pdfId:
          type: object
          description: PDF document identifiers, base64 encoded. This is used to track version of PDF document this JSON has been exported from.
          properties:
            permanent:
              type: string
              description: Permanent document identifier based on the contents of the file at the time it was originally created. Does not change when the file is saved incrementally.
              example: 9C3nLxNzQBuBBzv96LbdMg==
            changing:
              type: string
              description: Document identifier based on the file's contents at the time it was last updated.
              example: Oi+XccZpDHChV7I=
      required:
        - format
    CreateAuthTokenParameters:
      type: object
      properties:
        allowedOperations:
          type: array
          description: |
            List of operations that can be performed with the generated token.
            Defaults to all operations.
          items:
            type: string
            enum:
              - annotations_api
              - compression_api
              - data_extraction_api
              - digital_signatures_api
              - document_editor_api
              - html_conversion_api
              - image_conversion_api
              - image_rendering_api
              - email_conversion_api
              - linearization_api
              - ocr_api
              - office_conversion_api
              - pdfa_api
              - pdf_to_office_conversion_api
              - redaction_api
          example:
            - digital_signatures_api
        allowedOrigins:
          type: array
          description: |
            List of origins that can use the generated token.
            By default, allows all origins.
          items:
            type: string
            example: example.com
        expirationTime:
          type: integer
          default: 3600
          description: |
            The expiration time of the token in seconds.
    CreateAuthTokenResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the generated token.
          example: a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6
        accessToken:
          type: string
          description: The generated API token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMjM0NTY3ODkwLCJpYXQiOjE1MTYyMzkwMjJ9.4TJ4J7
    RedactData:
      type: object
      required:
        - documents
        - criteria
      properties:
        documents:
          type: array
          description: An array of documents to analyze for redaction.
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              file:
                oneOf:
                  - type: string
                    description: If the request is multipart/form-data, the name of the `file` key.
                  - type: object
                    properties:
                      url:
                        type: string
                        description: A URL pointing to a document to redact.
                    required:
                      - url
              pages:
                oneOf:
                  - type: array
                    items:
                      type: integer
                      minimum: 0
                    description: Array of page indices to analyze (0-based).
                  - type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                        description: Starting page index (0-based).
                      end:
                        type: integer
                        description: |
                          Ending page index. A positive number denotes an absolute page index,
                          negative number denotes a relative page index from the end of the document.
                    required:
                      - start
                      - end
                description: Optional. Limits the analysis to specific pages.
        criteria:
          type: string
          description: The redaction criteria such as "Redact all PII", or "All personal names and addresses", etc.
        redaction_state:
          type: string
          enum:
            - stage
            - apply
          default: stage
          description: When set to "stage", marks locations for redaction; when set to "apply", marks and removes content permanently. Optional, defaults to "stage".
        options:
          type: object
          description: Optional configuration for the redaction process.
          properties:
            confidence:
              type: object
              description: Configuration for confidence-based filtering of redactions.
              properties:
                threshold:
                  type: number
                  description: Optionally filter terms which are scored with a confidence level less than the threshold. Scores range from 1-10.
              required:
                - threshold
    FileHandle:
      oneOf:
        - type: object
          title: Remote file
          description: Object pointing to remote file
          properties:
            url:
              type: string
              description: Specifies the URL from a file can be downloaded
              example: https://remote-file-storage/input-file
            sha256:
              type: string
              description: |
                Optional parameter to verify a downloaded file using provided SHA256 hash.
                It is expected to be base16 encoded using lowercase.
          required:
            - url
        - type: string
          title: Uploaded file
          description: Specifies the name of multipart part containing a file
          example: file-from-multipart
    PageRange:
      type: object
      description: |
        Defines the range of pages in a document. The indexing starts from 0. It is possible
        to use negative numbers to refer to pages from the last page. For example, `-1` refers to the last page.
      properties:
        start:
          type: integer
          default: 0
        end:
          type: integer
          default: -1
    PageLayout:
      type: object
      description: |
        Defines the layout of the generated pages.
      properties:
        orientation:
          type: string
          enum:
            - portrait
            - landscape
          description: |
            The orientation of generated pages.
          default: portrait
        size:
          oneOf:
            - type: string
              title: Preset
              description: |
                Page size preset.
              enum:
                - A0
                - A1
                - A2
                - A3
                - A4
                - A5
                - A6
                - A7
                - A8
                - Letter
                - Legal
            - type: object
              title: Custom
              description: |
                The dimensions of generated pages.
              properties:
                width:
                  type: number
                  description: |
                    The width of pages in mm.
                  example: 210
                  minimum: 1
                height:
                  type: number
                  description: |
                    The height of pages in mm.
                  example: 297
                  minimum: 1
        margin:
          type: object
          description: |
            The margins of generated pages. All dimensions are in mm.
          properties:
            left:
              type: number
              minimum: 0
              default: 0
            top:
              type: number
              minimum: 0
              default: 0
            right:
              type: number
              minimum: 0
              default: 0
            bottom:
              type: number
              minimum: 0
              default: 0
    ApplyInstantJsonAction:
      type: object
      required:
        - type
        - file
      properties:
        type:
          type: string
          description: |
            Apply the Instant JSON to the document to import annotations or forms to a document.
          enum:
            - applyInstantJson
        file:
          $ref: '#/components/schemas/FileHandle'
    ApplyXfdfAction:
      type: object
      required:
        - type
        - file
      properties:
        type:
          type: string
          description: |
            Apply the XFDF to the document to import annotations to a document.
          enum:
            - applyXfdf
        file:
          $ref: '#/components/schemas/FileHandle'
    FlattenAction:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: |
            Flatten the annotations in the document.
          enum:
            - flatten
        annotationIds:
          type: array
          description: |
            Annotation IDs to flatten. These can be annotation IDs or `pdfObjectId`s.
            If not specified, all annotations will be flattened.
          items:
            oneOf:
              - type: string
              - type: integer
    OcrLanguage:
      type: string
      example: english
      description: |
        Language to be used for the OCR text extraction. You can find the list of supported languages in our [guides](https://www.nutrient.io/guides/document-engine/ocr/language-support/).
        In addition to the languages outlined in the guides, we support the 3 letter ISO 639-2 code for some other languages.
      enum:
        - afrikaans
        - albanian
        - arabic
        - armenian
        - azerbaijani
        - basque
        - belarusian
        - bengali
        - bosnian
        - bulgarian
        - catalan
        - chinese
        - croatian
        - czech
        - danish
        - dutch
        - english
        - finnish
        - french
        - german
        - indonesian
        - italian
        - malay
        - norwegian
        - polish
        - portuguese
        - serbian
        - slovak
        - slovenian
        - spanish
        - swedish
        - turkish
        - welsh
        - afr
        - amh
        - ara
        - asm
        - aze
        - bel
        - ben
        - bod
        - bos
        - bre
        - bul
        - cat
        - ceb
        - ces
        - chr
        - cos
        - cym
        - dan
        - deu
        - div
        - dzo
        - ell
        - eng
        - enm
        - epo
        - equ
        - est
        - eus
        - fao
        - fas
        - fil
        - fin
        - fra
        - frk
        - frm
        - fry
        - gla
        - gle
        - glg
        - grc
        - guj
        - hat
        - heb
        - hin
        - hrv
        - hun
        - hye
        - iku
        - ind
        - isl
        - ita
        - jav
        - jpn
        - kan
        - kat
        - kaz
        - khm
        - kir
        - kmr
        - kor
        - kur
        - lao
        - lat
        - lav
        - lit
        - ltz
        - mal
        - mar
        - mkd
        - mlt
        - mon
        - mri
        - msa
        - mya
        - nep
        - nld
        - nor
        - oci
        - ori
        - osd
        - pan
        - pol
        - por
        - pus
        - que
        - ron
        - rus
        - san
        - sin
        - slk
        - slv
        - snd
        - sp1
        - spa
        - sqi
        - srp
        - sun
        - swa
        - swe
        - syr
        - tam
        - tat
        - tel
        - tgk
        - tgl
        - tha
        - tir
        - ton
        - tur
        - uig
        - ukr
        - urd
        - uzb
        - vie
        - yid
        - yor
    OcrAction:
      type: object
      required:
        - type
        - language
      properties:
        type:
          type: string
          description: |
            Perform optical character recognition (OCR) in the document.
          enum:
            - ocr
        language:
          oneOf:
            - $ref: '#/components/schemas/OcrLanguage'
            - type: array
              example:
                - english
                - german
              items:
                $ref: '#/components/schemas/OcrLanguage'
    RotateAction:
      type: object
      required:
        - type
        - rotateBy
      properties:
        type:
          type: string
          description: |
            Rotate all pages by the angle specified.
          enum:
            - rotate
        rotateBy:
          type: number
          description: |
            The angle by which the pages should be rotated, clockwise.
          enum:
            - 90
            - 180
            - 270
    WatermarkDimension:
      type: object
      required:
        - value
        - unit
      properties:
        value:
          type: number
          description: Dimension value
          example: 100
        unit:
          type: string
          description: Dimension unit
          enum:
            - pt
            - '%'
    BaseWatermarkAction:
      type: object
      required:
        - type
        - width
        - height
      properties:
        type:
          type: string
          description: |
            Watermark all pages with text watermark.
          enum:
            - watermark
        width:
          allOf:
            - type: object
              description: |
                Width of the watermark in PDF points.
            - $ref: '#/components/schemas/WatermarkDimension'
        height:
          allOf:
            - type: object
              description: |
                Height of the watermark in PDF points.
            - $ref: '#/components/schemas/WatermarkDimension'
        top:
          allOf:
            - type: object
              description: |
                Offset of the watermark from the top edge of a page.
            - $ref: '#/components/schemas/WatermarkDimension'
        right:
          allOf:
            - type: object
              description: |
                Offset of the watermark from the right edge of a page.
            - $ref: '#/components/schemas/WatermarkDimension'
        bottom:
          allOf:
            - type: object
              description: |
                Offset of the watermark from the bottom edge of a page.
            - $ref: '#/components/schemas/WatermarkDimension'
        left:
          allOf:
            - type: object
              description: |
                Offset of the watermark from the left edge of a page.
            - $ref: '#/components/schemas/WatermarkDimension'
        rotation:
          type: number
          description: |
            Rotation of the watermark in counterclockwise degrees.
          default: 0
        opacity:
          type: number
          description: Watermark opacity. 0 is fully transparent, 1 is fully opaque.
          minimum: 0
          maximum: 1
    TextWatermarkAction:
      allOf:
        - $ref: '#/components/schemas/BaseWatermarkAction'
        - type: object
          title: Text
          required:
            - text
          properties:
            text:
              type: string
              description: |
                Text used for watermarking
            fontFamily:
              type: string
              description: The font to render the text. Fonts are client specific, so you should only use fonts you know are present in the browser where they should be displayed. If a font isn't found, PSPDFKit will automatically fall back to a sans-serif font.
              example: Helvetica
            fontSize:
              description: Size of the text in points.
              type: integer
              example: 10
            fontColor:
              type: string
              pattern: ^#[0-9a-fA-F]{6}$
              description: A foreground color of the text.
              example: '#ffffff'
            fontStyle:
              type: array
              description: Text style. Can be only italic, only bold, italic and bold, or none of these.
              items:
                type: string
                enum:
                  - bold
                  - italic
    ImageWatermarkAction:
      allOf:
        - $ref: '#/components/schemas/BaseWatermarkAction'
        - type: object
          title: Image
          required:
            - image
          properties:
            image:
              $ref: '#/components/schemas/FileHandle'
    WatermarkAction:
      oneOf:
        - $ref: '#/components/schemas/TextWatermarkAction'
        - $ref: '#/components/schemas/ImageWatermarkAction'
    PageIndex:
      type: integer
      description: Page index of the annotation. 0 is the first page.
      example: 0
      minimum: 0
    AnnotationBbox:
      type: array
      minItems: 4
      maxItems: 4
      items:
        type: number
      description: Bounding box of the annotation within the page in a form [left, top, width, height].
      example:
        - 255.10077620466092
        - 656.7566095695641
        - 145.91672653256705
        - 18.390804597701162
    BaseAction:
      title: BaseAction
      type: object
      properties:
        subAction:
          type: object
          description: Sub-action to execute after the action has been executed.
    GoToAction:
      title: GoToAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: GoToAction
          type: object
          properties:
            type:
              type: string
              enum:
                - goTo
            pageIndex:
              type: integer
              description: Page index to navigate to. 0 is the first page.
              minimum: 0
          required:
            - type
            - pageIndex
    GoToRemoteAction:
      title: GoToRemoteAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: GoToRemoteAction
          type: object
          properties:
            type:
              type: string
              enum:
                - goToRemote
            relativePath:
              type: string
              description: The relative path of the file to open.
              example: /other_document.pdf
            namedDestination:
              type: string
          required:
            - type
            - relativePath
    GoToEmbeddedAction:
      title: GoToEmbeddedAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: GoToEmbeddedAction
          type: object
          properties:
            type:
              type: string
              enum:
                - goToEmbedded
            relativePath:
              type: string
              description: The relative path to the embedded file.
              example: /other_document.pdf
            newWindow:
              type: boolean
              description: Whether to open the file in a new window.
            targetType:
              type: string
              enum:
                - parent
                - child
          required:
            - type
            - relativePath
    LaunchAction:
      title: LaunchAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: LaunchAction
          type: object
          properties:
            type:
              type: string
              enum:
                - launch
            filePath:
              type: string
              description: The file path to launch.
              example: /other_document.pdf
          required:
            - type
            - filePath
    URIAction:
      title: URIAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: URIAction
          type: object
          properties:
            type:
              type: string
              enum:
                - uri
            uri:
              type: string
              example: https://www.nutrient.io
          required:
            - type
            - uri
    AnnotationReference:
      title: AnnotationReference
      type: object
      properties:
        fieldName:
          type: string
        pdfObjectId:
          type: integer
    HideAction:
      title: HideAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: HideAction
          type: object
          properties:
            type:
              type: string
              enum:
                - hide
            hide:
              type: boolean
            annotationReferences:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationReference'
          required:
            - type
            - hide
            - annotationReferences
    JavaScriptAction:
      title: JavaScriptAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: JavaScriptAction
          type: object
          properties:
            type:
              type: string
              enum:
                - javascript
            script:
              type: string
          required:
            - type
            - script
    SubmitFormAction:
      title: SubmitFormAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: SubmitFormAction
          type: object
          properties:
            type:
              type: string
              enum:
                - submitForm
            uri:
              type: string
            flags:
              type: array
              items:
                type: string
                enum:
                  - includeExclude
                  - includeNoValueFields
                  - exportFormat
                  - getMethod
                  - submitCoordinated
                  - xfdf
                  - includeAppendSaves
                  - includeAnnotations
                  - submitPDF
                  - canonicalFormat
                  - excludeNonUserAnnotations
                  - excludeFKey
                  - embedForm
            fields:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationReference'
          required:
            - type
            - uri
            - flags
    ResetFormAction:
      title: ResetFormAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: ResetFormAction
          type: object
          properties:
            type:
              type: string
              enum:
                - resetForm
            flags:
              type: string
              enum:
                - includeExclude
            fields:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationReference'
          required:
            - type
    NamedAction:
      title: NamedAction
      allOf:
        - $ref: '#/components/schemas/BaseAction'
        - title: NamedAction
          type: object
          properties:
            type:
              type: string
              enum:
                - named
            action:
              type: string
              enum:
                - nextPage
                - prevPage
                - firstPage
                - lastPage
                - goBack
                - goForward
                - goToPage
                - find
                - print
                - outline
                - search
                - brightness
                - zoomIn
                - zoomOut
                - saveAs
                - info
          required:
            - type
            - action
    Action:
      description: |
        Represents a PDF action.

        There are many different action types. You can learn more about their semantics
        [here](https://www.nutrient.io/guides/ios/annotations/pdf-actions/).

        All actions have a `type` property. Depending on the type, the action object
        includes additional properties.
      example:
        type: goTo
        pageIndex: 0
      type: object
      oneOf:
        - $ref: '#/components/schemas/GoToAction'
        - $ref: '#/components/schemas/GoToRemoteAction'
        - $ref: '#/components/schemas/GoToEmbeddedAction'
        - $ref: '#/components/schemas/LaunchAction'
        - $ref: '#/components/schemas/URIAction'
        - $ref: '#/components/schemas/HideAction'
        - $ref: '#/components/schemas/JavaScriptAction'
        - $ref: '#/components/schemas/SubmitFormAction'
        - $ref: '#/components/schemas/ResetFormAction'
        - $ref: '#/components/schemas/NamedAction'
    AnnotationOpacity:
      type: number
      description: Annotation opacity. 0 is fully transparent, 1 is fully opaque.
      minimum: 0
      maximum: 1
    PdfObjectId:
      type: integer
      description: The PDF object ID of the annotation from the source PDF.
    AnnotationCustomData:
      type:
        - object
        - 'null'
      additionalProperties: true
      description: |
        Object of arbitrary properties attached to the annotations. PSPDFKit won't modify this data when processing annotations.
      example:
        foo: bar
    BaseAnnotation:
      title: BaseAnnotation
      type: object
      properties:
        v:
          type: integer
          enum:
            - 2
          description: The specification version that the record is compliant to.
        type:
          type: string
          description: The type of the annotation.
        pageIndex:
          $ref: '#/components/schemas/PageIndex'
        bbox:
          $ref: '#/components/schemas/AnnotationBbox'
        action:
          $ref: '#/components/schemas/Action'
        opacity:
          $ref: '#/components/schemas/AnnotationOpacity'
        pdfObjectId:
          $ref: '#/components/schemas/PdfObjectId'
        id:
          type: string
          description: The unique Instant JSON identifier of the annotation.
          example: 01DNEDPQQ22W49KDXRFPG4EPEQ
        flags:
          type: array
          description: |
            Array of annotation flags.

            | Flag | Description |
            | ---- | ----------- |
            | noPrint | Don't print. |
            | noZoom | Don't zoom with page. |
            | noRotate | Don't rotate. |
            | noView | Don't display, can be still printed. |
            | hidden | Don't display, don't print, disable any interaction with user. |
            | invisible | Ignore annotation AP stream. |
            | readOnly | Don't allow the annotation to be deleted or its properties modified. |
            | locked | Same as `readOnly` but allows changing annotation contents. |
            | lockedContents | Don't allow the contents of the annotation to be modified. |
          items:
            type: string
            enum:
              - noPrint
              - noZoom
              - noRotate
              - noView
              - hidden
              - invisible
              - readOnly
              - locked
              - toggleNoView
              - lockedContents
        createdAt:
          type: string
          description: The date of the annotation creation. ISO 8601 with full date, time, and time zone information
          format: date-time
          example: '2019-09-16T15:05:03.712909Z'
        updatedAt:
          type: string
          description: The date of the last annotation update. ISO 8601 with full date, time, and time zone information
          format: date-time
          example: '2019-09-16T15:05:03.712909Z'
        name:
          type: string
          description: The name of the annotation used to identify the annotation.
        creatorName:
          type: string
          description: The name of the creator of the annotation.
        customData:
          $ref: '#/components/schemas/AnnotationCustomData'
      required:
        - type
        - pageIndex
        - bbox
        - v
    Rect:
      type: array
      title: Rect
      description: Rectangle in a form [left, top, width, height] in PDF points (pt).
      items:
        type: number
        minItems: 4
        maxItems: 4
      example:
        - 100
        - 200
        - 300
        - 400
    AnnotationRotation:
      type: integer
      title: Rotation
      description: Counterclockwise annotation rotation in degrees.
      enum:
        - 0
        - 90
        - 180
        - 270
    AnnotationNote:
      type: string
      title: Note
      description: Text of an annotation note.
      example: This is a note.
    RedactionAnnotation:
      title: RedactionAnnotation
      allOf:
        - $ref: '#/components/schemas/BaseAnnotation'
        - title: RedactionAnnotation
          description: Redaction annotations determines the location of the area marked for redaction.
          type: object
          properties:
            type:
              type: string
              enum:
                - pspdfkit/markup/redaction
            rects:
              type: array
              description: Bounding boxes of the marked text.
              items:
                $ref: '#/components/schemas/Rect'
            outlineColor:
              type: string
              pattern: ^#[0-9a-fA-F]{6}$
              description: Outline color is the border color of a redaction annotation when it hasn't yet been applied to the document
              example: '#ffffff'
            fillColor:
              type: string
              pattern: ^#[0-9a-fA-F]{6}$
              description: Fill color is the background color that a redaction will have when applied to the document.
            overlayText:
              type: string
              description: The text that will be printed on top of an applied redaction annotation.
              example: CONFIDENTIAL
            repeatOverlayText:
              type: boolean
              description: Specifies whether or not the overlay text will be repeated multiple times to fill the boundaries of the redaction annotation.
            color:
              type: string
              pattern: ^#[0-9a-fA-F]{6}$
              description: Color of the overlay text (if any).
              example: '#ffffff'
            rotation:
              $ref: '#/components/schemas/AnnotationRotation'
            note:
              $ref: '#/components/schemas/AnnotationNote'
          required:
            - type
    SearchPreset:
      type: string
      description: |
        - `credit-card-number` — matches a number with 13 to 19 digits that begins with 1—6.
        Spaces and `-` are allowed anywhere in the number.
        - `date` — matches date formats such as `mm/dd/yyyy`, `mm/dd/yy`, `dd/mm/yyyy`, and `dd/mm/yy`.
        It rejects any days greater than 31 or months greater than 12 and accepts a leading 0 in front of a single-digit day or month.
        The delimiter can be `-`, `.`, or `/`.
        - `email-address` — matches an email address. Expects the format of `*@*.*` with at least two levels of the domain name.
        - `international-phone-number` — matches international phone numbers.
        The number can have 7 to 15 digits with spaces or `-` occurring anywhere within the number, and it must have prefix of `+` or `00`.
        - `ipv4` — matches an IPv4 address with an optional mask at the end.
        - `ipv6` — matches a full and compressed IPv6 address as defined in [RFC 2373](http://www.faqs.org/rfcs/rfc2373.html).
        - `mac-address` — matches a MAC address with either `-` or `:` as a delimiter.
        - `north-american-phone-number` — matches North American-style phone numbers.
        NANPA standardization is used with international support.
        - `social-security-number` — matches a social security number.
        Expects the format of `XXX-XX-XXXX` or `XXXXXXXXX`, with X denoting digits.
        - `time` — matches time formats such as `00:00:00`, `00:00`, and `00:00 PM`. 12- and 24-hour formats are allowed.
        Seconds and AM/PM denotation are both optional.
        - `url` — matches a URL with a prefix of `http` or `https`, with an optional subdomain.
        - `us-zip-code` — matches a USA-style zip code. The format expected is `XXXXX`, `XXXXX-XXXX` or `XXXXX/XXXX`.
        - `vin` — matches US and ISO Standard 3779 Vehicle Identification Number. 
        The format expects 17 characters, with the last 5 characters being numeric. `I`, `i`, `O`, `o` ,`Q`, `q`, and `_` characters are not allowed.
      enum:
        - credit-card-number
        - date
        - email-address
        - international-phone-number
        - ipv4
        - ipv6
        - mac-address
        - north-american-phone-number
        - social-security-number
        - time
        - url
        - us-zip-code
        - vin
      example: email-address
    CreateRedactionsStrategyOptionsPreset:
      type: object
      required:
        - preset
      properties:
        preset:
          $ref: '#/components/schemas/SearchPreset'
        includeAnnotations:
          type: boolean
          default: true
          description: |
            Determines if redaction annotations are created on top of annotations whose
            content match the provided preset.
        start:
          type: integer
          default: 0
          description: |
            The index of the page from where you want to start the search.
        limit:
          type: integer
          default: null
          description: |
            Starting from start, the number of pages to search. Default is to the end of
            the document.
    CreateRedactionsStrategyOptionsRegex:
      type: object
      required:
        - regex
      properties:
        regex:
          type: string
          description: |
            Regex search term used for searching for text to redact.
          example: '@pspdfkit\\.com'
        includeAnnotations:
          type: boolean
          default: true
          description: |
            Determines if redaction annotations are created on top of annotations whose
            content match the provided preset.
        caseSensitive:
          type: boolean
          default: true
          description: |
            Determines if the search will be case sensitive.
        start:
          type: integer
          default: 0
          description: |
            The index of the page from where you want to start the search.
        limit:
          type: integer
          default: null
          description: |
            Starting from start, the number of pages to search. Default is to the end of
            the document.
    CreateRedactionsStrategyOptionsText:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: |
            Search term used for searching for text to redact.
          example: '@nutrient.io'
        includeAnnotations:
          type: boolean
          default: true
          description: |
            Determines if redaction annotations are created on top of annotations whose
            content match the provided preset.
        caseSensitive:
          type: boolean
          default: false
          description: |
            Determines if the search will be case sensitive.
        start:
          type: integer
          default: 0
          description: |
            The index of the page from where you want to start the search.
        limit:
          type: integer
          default: null
          description: |
            Starting from start, the number of pages to search. Default is to the end of
            the document.
    CreateRedactionsAction:
      allOf:
        - type: object
          required:
            - type
            - strategy
            - strategyOptions
          properties:
            type:
              type: string
              description: |
                Creates redactions according to the given strategy. Once redactions are created, they need to be applied using the `applyRedactions` action.
                You can configure some visual aspects of the redaction annotation, including its background color, overlay text, and so on, by passing an optional `content` object.
              enum:
                - createRedactions
            content:
              $ref: '#/components/schemas/RedactionAnnotation'
        - oneOf:
            - type: object
              title: Preset
              required:
                - strategy
                - strategyOptions
              properties:
                strategy:
                  type: string
                  enum:
                    - preset
                strategyOptions:
                  $ref: '#/components/schemas/CreateRedactionsStrategyOptionsPreset'
            - type: object
              title: Regex
              required:
                - strategy
                - strategyOptions
              properties:
                strategy:
                  type: string
                  enum:
                    - regex
                strategyOptions:
                  $ref: '#/components/schemas/CreateRedactionsStrategyOptionsRegex'
            - type: object
              title: Text
              required:
                - strategy
                - strategyOptions
              properties:
                strategy:
                  type: string
                  enum:
                    - text
                strategyOptions:
                  $ref: '#/components/schemas/CreateRedactionsStrategyOptionsText'
    ApplyRedactionsAction:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: |
            Applies the redactions created by an earlier `createRedactions` action.
          enum:
            - applyRedactions
    BuildAction:
      oneOf:
        - $ref: '#/components/schemas/ApplyInstantJsonAction'
        - $ref: '#/components/schemas/ApplyXfdfAction'
        - $ref: '#/components/schemas/FlattenAction'
        - $ref: '#/components/schemas/OcrAction'
        - $ref: '#/components/schemas/RotateAction'
        - $ref: '#/components/schemas/WatermarkAction'
        - $ref: '#/components/schemas/CreateRedactionsAction'
        - $ref: '#/components/schemas/ApplyRedactionsAction'
    FilePart:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileHandle'
        password:
          type: string
          description: The password for the input file
        pages:
          $ref: '#/components/schemas/PageRange'
        layout:
          allOf:
            - type: object
              description: |
                Defines the layout of the generated pages. Only valid for email (e.g. EML and MSG) and spreadsheet (e.g. XLSX) inputs.
            - $ref: '#/components/schemas/PageLayout'
        content_type:
          type: string
          description: |
            The content type of the file. Used to determine the file type when the file content type is not available and can't be inferred.
          example: application/pdf
        actions:
          type: array
          items:
            $ref: '#/components/schemas/BuildAction'
      required:
        - file
      example:
        file: pdf-file-from-multipart
    HTMLPart:
      type: object
      required:
        - html
      properties:
        html:
          $ref: '#/components/schemas/FileHandle'
        assets:
          type: array
          description: |
            List of asset names imported in the HTML. References the name passed in the multipart request.
          items:
            type: string
        layout:
          $ref: '#/components/schemas/PageLayout'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/BuildAction'
    NewPagePart:
      type: object
      required:
        - page
      properties:
        page:
          type: string
          enum:
            - new
        pageCount:
          type: integer
          minimum: 1
          default: 1
          description: Number of pages to be added.
        layout:
          $ref: '#/components/schemas/PageLayout'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/BuildAction'
    DocumentId:
      type: string
      title: Document ID
      example: 7KPZW8XFGM4F1C92KWBK1B748M
      description: The ID of the document.
    DocumentPart:
      type: object
      description: |
        This allows to reference a document stored on Document Engine.
        It is also possible to refer to currently scoped file by using special ID:
          ```
          {"document": {"id": "#self"}}
          ```
      properties:
        document:
          type: object
          required:
            - id
          properties:
            id:
              oneOf:
                - $ref: '#/components/schemas/DocumentId'
                - type: string
                  title: Self
                  description: |
                    Special ID that allows to refer to currently scoped document (including layer if using layers path).
                  enum:
                    - '#self'
            layer:
              type: string
              description: |
                The name of the layer to be used.
              example: my-existing-layer
        password:
          type: string
          description: The password for the input file
        pages:
          $ref: '#/components/schemas/PageRange'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/BuildAction'
      required:
        - document
    Part:
      oneOf:
        - $ref: '#/components/schemas/FilePart'
        - $ref: '#/components/schemas/HTMLPart'
        - $ref: '#/components/schemas/NewPagePart'
        - $ref: '#/components/schemas/DocumentPart'
    Title:
      type:
        - string
        - 'null'
      description: The document title.
      example: Nutrient Document Engine API Specification
    Metadata:
      type: object
      properties:
        title:
          $ref: '#/components/schemas/Title'
        author:
          type: string
          description: The document author.
          example: Document Author
    Label:
      type: object
      required:
        - pages
        - label
      properties:
        pages:
          $ref: '#/components/schemas/PageRange'
        label:
          type: string
          description: The label to apply to specified pages.
          example: Page I-III
    PDFUserPermission:
      type: string
      enum:
        - printing
        - modification
        - extract
        - annotations_and_forms
        - fill_forms
        - extract_accessibility
        - assemble
        - print_high_quality
    OptimizePdf:
      type: object
      properties:
        grayscaleText:
          type: boolean
          default: false
        grayscaleGraphics:
          type: boolean
          default: false
        grayscaleImages:
          type: boolean
          default: false
        grayscaleFormFields:
          type: boolean
          default: false
        grayscaleAnnotations:
          type: boolean
          default: false
        disableImages:
          type: boolean
          default: false
        mrcCompression:
          type: boolean
          default: false
        imageOptimizationQuality:
          type: integer
          default: 2
          minimum: 1
          maximum: 4
        linearize:
          type: boolean
          default: false
          description: |
            If set to `true`, the resulting PDF file will be linearized.
            This means that the document will be optimized in a special way that allows it to be loaded faster over the network.
            You need the `Linearization` feature to be enabled in your Nutrient Document Engine license in order to use this option.
    BasePDFOutput:
      type: object
      description: |
        Object representing PDF output.
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        labels:
          type: array
          items:
[...]
